.pong {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.title {
    color: white;
    text-align: center;
    width: -webkit-fill-available;
    font-size:100px;
    position: fixed;
    top:100px;
}

.element-text {
    margin: 0 auto;
}

.element-text > .text-left {
    color:white;
}

.environment {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 0 auto;
}

.middle-ligne {
    background-color: white;
    height: 30px;
    width: 15px;
    margin: 0px 0px 30px 50%;
}

.game_title {
    text-align: center;
    width: -webkit-fill-available;
    font-size:100px;
    position: fixed;
    top:100px;
    animation: 6s infinite running logo;
}



@keyframes logo {
    0%, 100% { transform: scale(0.5) rotate(0deg); }
    25% { transform: scale(1) rotate(22.5deg); }
    75% { transform: scale(1) rotate(-22.5deg); }
    50% { transform: scale(0.5) rotate(0deg); }
}
/*transform: scale(1);
transform: rotate(45deg); 
*/

.button-element {
    width: 200px;
    height: 50px;
    font-size:25px;
    color: white;
    background-color: black;
    border: 4px solid white;
    margin: 0 auto;
    cursor: pointer;
    display: grid;
    margin-bottom: 20px;
}

.button-element:hover {
    border: 4px solid #ddd;
    color: #ddd;
}

.button-element:focus {
    border: 4px solid grey;
    color: grey;
}

.player {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: fixed;
    top: 0;
}

.player-one {
    float: left;
    margin: 250px 20px;
}

.top-ligne {
    position: fixed;
    width: -webkit-fill-available;
    height: 20px;
    background-color: white;
    top: 0px;
}

.bottom-ligne {
    position: fixed;
    height: 20px;
    width: -webkit-fill-available;
    background-color: white;
    bottom: 0px;
}
.player-two {
    float: right;
    margin: 250px 20px;
}

.player > .p {
    height: 400px;
    width: 20px;
    background-color: white;
}

.element {
    width: -webkit-fill-available;
    top: 40vh;
    position: fixed;
    margin: 0 auto;
    text-align: center;
}

body, html{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family: 'Press Start 2P', cursive;
  }
  
  .center{
    position:absolute;
    top:0;
    bottom: 0;left: 0;right: 0;
    color:#fff;
    display:flex;
    align-items:center;
    .text-center{
      text-align:center;
      width:100%;
    }
  }
  

  
  @keyframes blink{
    0%{
      border-right-color:transparent;
    }
    50%{
      border-right-color:transparent;
    }
    51%{
      border-right-color:#fff;
    }
    100%{
      border-right-color:#fff;
    }
  }
  
  canvas{
    background:#000;
    width:100%;
    height:100%;
  }